@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

#dowebok .section:first-child{
    background: #7fffd4 !important;
}
*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing:border-box;
}
a{
    text-decoration: none;
}
.welcome{
    width: 600px;
    height: 50px;
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    color: #ffab09;
    opacity: 0;
}
.title{
    position: absolute;
    top: 80px;
    left:0;
    padding-left: 150px;
    text-align: left;
    cursor: pointer;
}
.title:hover{
    color: #b776ff;
    transition:all 0.5s;
}
.nav{
    width: 300px;
    height: 400px;
    /*background: red;*/
    position: absolute;
    top:170px;
    left: -320px;
}
.nav li{
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
    background: #fff;
    text-align: center;
    line-height: 60px;
    color: #222;
    font-size: 18px;
}
.nav li:first-child{
    width: 240px;
}
.nav li:nth-child(2){
    width: 260px;
}

.nav li:nth-child(4){
    width: 270px;
}
.nav li:nth-child(5){
    width: 230px;
}
.section .tu{
    width: 300px;
    height: 350px;
    position: absolute;
    top:170px;
    right: -380px;
    /*opacity: 0;*/
    border-radius: 5px;
    /*background: blue;*/
    background: url(../img/3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.section:nth-child(2){
    /*background: #fff !important;*/
    background: url(../img/11.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.cover{
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
}
.aboutme{
    width: 1000px;
    height: 500px;
    border:2px solid #84ffd8;
    /*background: #d3ffd1;*/
    position: absolute;
    top: 80px;
    left: 0;
    right:0;
    margin: auto;
}
h3{
    display: block;
    width: 300px;
    height: 40px;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    margin: auto;
    background: #84ffd8;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 24px;
}
p{
    width: 800px;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    margin: auto;
    margin: 0 auto;
    line-height: 30px;
    font-size:20px;
    color: #fff;
    text-indent:38px;
    font-family: 宋体;
    text-align: left;
}
p:nth-child(2){
    top: 280px;
}
.skill{
    background: #7fffd4;
    width: 100%;
    height: 100%;
}
h4{
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #ffab09;
    font-size: 28px;
    position: absolute;
    top: 20px;
    left: 0;
}

.kuang{
    width:1200px;
    height: 200px;
    position: absolute;
    top: 240px;
    left: 0;
    right:0;
    margin: auto;
    /*background: blue;*/
}
canvas{
    display: block;
    float: left;
    /*background: red;*/
}
.circle1, .circle2, .circle3, .circle4{
    width: 200px;
    height: 200px;
    background: #ffab09;
    position: absolute;
    top: -400px;
    left:80px;
    line-height: 200px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    opacity: 0;
    transition: all 1s;
    /*transform: rotate(45deg);*/
}
.circle2{
    left:360px;
    transition: all 1s;
}
.circle3{
    left:640px;
    transition: all 1s;
}
.circle4{
    left:920px;
    transition: all 1s;
}
.box{
    width: 100%;
    height: 100%;
    position: relative;
}
.zhezhao{
    width: 100%;
    height: 100%;
    background: rgba(41,43,41,0.6);
    position: absolute;
    top: 0;
    left: 0;
}
.section:nth-child(4){
    background: url(../img/6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.thead{
    width:100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    text-align: center;
    line-height: 80px;
    color: #fff;
    font-size: 30px;
}
.block{
    width: 1000px;
    height: 60px;
    position: absolute;
    top:60px;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    line-height: 30px;
    font-size: 18px;
    font-family: 宋体;
    /*background: #8b3a6d;*/
}
.con{
    width:1000px;
    height: 500px;
    /*background: #ff3d6b;*/
    position: absolute;
    top:130px;
    left: 0;
    right:0;
    margin: auto;
}
.neirong{
    width: 320px;
    height: 240px;
    float: left;
    border-left:10px solid #7fffd4;
    border-top:10px solid #7fffd4;
    background: url(../img/12.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: relative;
}
.neirong:nth-child(3){
    border-right: 10px solid #7fffd4;
}
.neirong:nth-child(4){
    border-bottom: 10px solid #7fffd4;
}
.neirong:nth-child(5){
    border-bottom: 10px solid #7fffd4;
}
.neirong:nth-child(6){
    border-bottom: 10px solid #7fffd4;
    border-right: 10px solid #7fffd4;
}
.zhe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    background: rgba(238,230,244,0.5);
    display: none;

}
.project, .net{
    width:100%;
    height: 30px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #fff;
}
.net{
    top: 80px;
}
.btn{
    width:90px;
    height: 30px;
    border: 2px solid #000;
    position: absolute;
    top: 120px;
    left:50%;
    margin-left: -45px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
.btn a{
    color: #000;
}
h1{
    width: 100%;
    height: 50px;
    display: block;
    line-height: 50px;
    text-align: center;
    color: #FFAB09;
    font-size: 30px;
}
.method{
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    margin-top: 40px;
    /*background: #8b3a6d;*/
    display: flex;
}
.method_con{
    flex-grow: 1;
    float: left;
    /*background: #5ea1f4;*/
}
.icon{
    width:100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-family: "iconfont";
}
.wenzi{
    width:100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}
.liuyan{
    width: 1000px;
    height: 450px;
    /*background: #ccc;*/
    margin: 0 auto;
    position: relative;
}
input{
    width: 282px;
    height: 40px;
    border:0;
    float: left;
    margin: 20px 25px;
    border-radius: 5px;
    font-size: 12px;
    color: #ccc;
    padding-left: 10px;
}
/*.con_wenzi{*/
    /*width: 950px;*/
    /*height: 80px;*/
    /*border-radius: 5px;*/
    /*background: #7fffd4;*/
    /*position: absolute;*/
    /*top: 80px;*/
    /*left: 0;*/
    /*right:0;*/
    /*margin: auto;*/
    /*background: #fff;*/
    /*!*border:1px solid#000;*!*/
/*}*/
/*.con_wenzi ul{*/
    /*display: flex;*/
    /*flex-direction:column-reverse;*/
/*}*/
.word{
    width:950px;
    height: 230px;
    border-radius: 5px;
    position: absolute;
    top: 80px;
    left: 0;
    right:0;
    margin: auto;
    /*border:1px solid #000;*/
}
.word textarea{
    width: 940px;
    height: 210px;
    resize:none;
    border:none;
    border-radius: 5px;
    /*border: 2px solid #ccc;*/
    /*background: #ccc;*/
}
#send{
    width: 150px;
    height: 40px;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 14px;
    line-height: 40px;
    color: #000;
    position: absolute;
    bottom: -100px;
    left: 0;
}
#dowebok .section:nth-child(5){
    background: #7fffd4 !important;
}
